@charset "utf-8";
/*
 * Name     : main.css
 * Date     : 2021-04-22

/* ------------------------------
 * body
------------------------------ */
html,body{ position:relative; margin:0; padding:0; width:100%; min-height:100vh;  font-size:16px; background:#f8f9fa; coplor:#222;}
.text-center{text-align:center !important; }
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}

.br-10{display:block; width:100%; height:10px;}
.br-20{display:block; width:100%; height:20px;}
.br-30{display:block; width:100%; height:30px;}
.br-40{display:block; width:100%; height:40px;}
.br-50{display:block; width:100%; height:50px;}
.br-70{display:block; width:100%; height:70px;}
.br-100{display:block; width:100%; height:100px;}

.padding-5{padding:5px;}
.padding-10{padding:10px;}
.padding-15{padding:15px;}

/* ------------------------------
 * layout
------------------------------ */
@media (min-width:1200px) {
	/*header */
	#header {position:absolute; top:0; left:0; right:0; height:70px; background:#fff; z-index:1000; border:0; border-bottom:1px solid #eeeeee; }
	#header .container-fluid {position:relative; height:100%; max-width:1110px; padding:0;}
	#header .logo {position:relative; position:absolute; top:20px; left:0; display:table; width:240px; height:30px; margin:0;}
	#header .logo a {display:table-cell; vertical-align:middle; text-align:center;}
	#header .logo a img {display:block; width:auto; height:30px; }
	#header .logo span{position:absolute; right:0; top:0px; display:inline-block; font-family: 'Bebas Neue', cursive; background:#0A70F7; color:#fff; letter-spacing:0px;font-size:16px; font-weight:400; border-radius:4px; text-align:center; width:40px; height:21px; line-height:24px;}
	#header .logo img.service{margin-left:10px; margin-top:-10px;}
	#header nav {float:right;opacity:1; width:calc(100% - 300px);}
	#header nav .mobile-header {display:none}
	#header .gnb {height:70px; z-index: 100; padding: 0; }
	#header .gnb.gnb-left {float:left; }
	#header .gnb.gnb-right {float:right;}
	#header .gnb > li {position:relative; float:left;  height:70px;  text-align:center; }
	#header .gnb > li > a {position:relative; display:block; color:#222; font-size:18px; font-weight:400; letter-spacing:0; height:70px; line-height:70px; padding:0 25px; transition:color 0.5s;}
	#header .gnb > li > a:hover{color:#0A70F7;}
	#header .gnb > li > a.active{color:#0A70F7; font-weight:600;}
	div.gnb_submenu{display:none; position:relative; position:absolute; left:0; top:70px; width:450px; background:#fff;}
	div.gnb_submenu:after{content:""; display:block; clear:both; width:200vw; height:48px; position:absolute; left:-50vw; top:0; background:#fff; z-index:999;}
	div.gnb_submenu > ul{position:absolute; left:0; top:0; height:48px; padding-left:30px; box-sizing:border-box; margin:0 auto;z-index:1000;}
	div.gnb_submenu > ul > li{float:left; float:left; font-size:16px; font-weight:400; color:#aaa; height:48px; line-height:48px; padding:0 60px 0 0; cursor:pointer; transition:color 0.5s;}
	div.gnb_submenu > ul > li > a{display:block; text-align:center; color:#aaa;}
	div.gnb_submenu > ul > li.active a{color:#000;}
	div.gnb_submenu > ul > li:hover a{color:#000;}

	#header .gnb-member{float:right;}
	#header .gnb-member > li{position:relative; float:left; font-size:16px; font-weight:400; color:#aaa; height:70px; line-height:70px; padding:0 0;cursor:pointer; transition:color 0.5s;}
	#header .gnb-member > li > a{display:block; color:#aaa;}
	#header .gnb-member > li:hover{color:#aaa;}
	#header .gnb-member > li:hover > a{color:#aaa;}
	#header .gnb-member > li.rightline{padding-right:20px; margin-right:20px;}
	#header .gnb-member > li.rightline:after{position:absolute; right:0; top:50%; transform:translateY(-50%); content:""; display:block; clear:both; width:1px; height:12px; background:#ddd; }
	#header .gnb-member > li.user-img {_display:none; position:relative; height:70px; padding:0 0 0 36px; margin-left:20px; text-align:left;}
	#header .gnb-member > li.user-img span.ic-user{position:relative;position:absolute; left:0; top:50%; transform:translateY(-50%); cursor:pointer; display:inline-block; width:36px; height:36px; border-radius:36px; overflow:hidden;}
	#header .gnb-member > li.user-img span.ic-user > img{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:100%; }

	#header .gnb-member > li.user-img div.my-point{position:relative;display:inline-block;font-size:18px; color:#0A70F7; text-align:left;padding-left:10px; }
	#header .gnb-member > li.user-img div.my-point > span.ic-point{position:absolute; left:0; top:50%; transform:translateY(-50%); display:none; width:25px; height:25px; line-height:25px; border-radius:25px; background:#0A70F7; color:#fff; text-align:Center; font-size:12px; font-weight:500;}




	#header .gnb-member > li.user-img .my-list{display:none; position:relative; position:absolute; right:-18px; top:60px;  width:176px; padding:10px 20px 15px 20px; border-radius:5px; background:#fff;border:1px solid #eee; box-shadow: 0 3px 6px 0 #ddd;}
	#header .gnb-member > li.user-img .my-list:after{position:absolute; left:80px; top:-14px; content:""; display:none; clear:both; width: 0px;height: 0px; border-top:10px solid none; border-bottom:15px solid #fff; border-right: 10px solid transparent;border-left: 10px solid  transparent;}


	#header .gnb-member > li.user-img .my-list li{float:left; text-align:left; width:100%; height:14px; padding:15px 0; font-size:14px; font-weight:400;cursor:pointer; line-height:14px;transition:color 0.5s;}
	#header .gnb-member > li.user-img .my-list li:hover{color:#000;}
	#header .gnb-member > li.user-img .my-list li.logout{color:#0A70F7; border-top:1px solid #eee; padding:15px 0 20px; margin-top:15px;}
	#header .gnb-member > li.user-img .my-list li.logout:hover{color:#0A70F7;}
	#header .btn-open-nav {display:none;}
	#header .nav-dimmed {display:none !important;}

	/*footer*/
	#footer {width:100%; padding:0; height:120px; text-align:center; background-color:#F8F9FA;}
	#footer.f_bg-white {width:100%; padding:0; height:120px; text-align:center; _background-color:#fff;}
	#footer .container-fluid{position:relative; }
	#footer .info ul{width:100%; max-width:1110px; height:120px; margin:0 auto;}
	#footer .info ul li{float:left; width:50%; height:120px; line-height:120px; font-weight:400; font-size:13px; color:#6C757D; }
	#footer .info ul li.copy{text-align:left;}
	#footer .info ul li.by{text-align:right;}


	/* contents */
	.wrapper{position:relative; width:100%;  max-width:1110px; margin:0 auto; padding:150px 0; min-height:calc(100vh - 120px);}
	.wrapper.wrapper-full{position:relative; width:100%;  max-width:100%; margin:0 auto; padding:70px 0; min-height:calc(100vh - 120px);}

}

@media (max-width:1199px) {

	html,body{ margin:0; padding:0; width:100%; max-width:100%; min-width:100%; font-size:11px; }

	/*header */
	#header {position:absolute; top:0; left:0; right:0; height:50px; background:#fff; z-index:1000; border:0; z-index:9999; border:0;}
	#header .container-fluid {position:relative; height:100%; padding:0;}
	#header .logo {position:relative; position:absolute; top:0; left:15px; display:table; width:240px; height:22px; margin:0;}
	#header .logo a {display:table-cell; width:150px; height:50px;  vertical-align:middle; text-align:center;}
	#header .logo a img {display:block; width:auto!important; height:22px; }
	#header .logo span{position:absolute; right:0; top:0px; display:inline-block; font-family: 'Bebas Neue', cursive; background:#0A70F7; color:#fff; letter-spacing:0px;font-size:16px; font-weight:400; border-radius:4px; text-align:center; width:40px; height:21px; line-height:24px;}
	#header .logo img.service{margin-left:5px; margin-top:0;}


	#header .btn-open-nav {display:block!important; position:absolute; top:50%; right:15px; width:24px; height:24px; margin-top:-12px; padding:0; border:none; background-color:transparent; cursor: pointer; outline:0; background:url('../img/ic-menu.svg')no-repeat; background-size:100% auto; background-position:center; }
	/*#header .btn-open-nav > span {position:absolute; display:block; left:50%; width:20px; height:2px; margin-left:-10px; border-radius:0px; background-color:#000; transition:all 0.35s cubic-bezier(0.305,0.405,0.085,0.975);}
	#header .btn-open-nav > span:nth-child(1) {top:4px;}
	#header .btn-open-nav > span:nth-child(2), #header .btn-open-nav > span:nth-child(3)  {top:11px}
	#header .btn-open-nav > span:nth-child(4)  {bottom:4px}*/
	#header .btn-open-nav > span{display:none;}
	#header nav {position:relative; position:absolute; top:0; right:-500px; width:260px; height:100vh; padding:0 25px; box-sizing:border-box; background-color:#fff; opacity:0; overflow:hidden; transition:opacity 0.2s cubic-bezier(0.305,0.405,0.085,0.975), right 0.1s cubic-bezier(0.305,0.405,0.085,0.975);  z-index:9999;}
	#header nav .btn-close-nav {background:url('../img/ic-close-blue.svg')no-repeat; background-size:24px auto; background-position:center; position:absolute; top:13px; right:15px; display:inline-block; width:24px; height:24px; padding:0; border:0; outline:0; opacity:0; visibility:hidden; transition:opacity 0.2s; transition-delay:0.2s;}

	/*#header .btn-open-nav[aria-expanded="true"] >span:nth-child(1){top:17px; width:0; margin-left:0;background-color:#000;}
	#header .btn-open-nav[aria-expanded="true"] >span:nth-child(2) {transform:rotate(45deg); }
	#header .btn-open-nav[aria-expanded="true"] >span:nth-child(3) {transform:rotate(-45deg); }
	#header .btn-open-nav[aria-expanded="true"] >span:nth-child(4) {top:17px; width:0; margin-left:0;background-color:#000;}*/
	#header .btn-open-nav[aria-expanded="true"] + nav {right:0; opacity:1; transition-delay:0.2s; background:rgba(255,255,255,1);}
	#header .btn-open-nav[aria-expanded="true"] + nav .btn-close-nav {opacity:1; visibility:visible;}

	#header .gnb {padding:0; margin:50px 0 0; z-index: 100; }
	#header .gnb > li {position:relative; float:left; width:100%; text-align:left;}
	#header .gnb > li > a {position:relative; display:block; color:#222; font-size:18px; font-weight:500; letter-spacing:0; height:50px; line-height:50px; padding:0; box-sizing:border-box; transition:color 0.5s;}
	#header .gnb > li > a.active{color:#0A70F7; font-weight:700;}


	#header .gnb-member{position:fixed; bottom:0; right:0; display:none; width:260px;}
	#header .gnb-member > li{position:relative; float:left; text-align:center; font-size:16px; font-weight:400; color:#aaa; width:50%; height:70px; line-height:70px; padding:0 10px; box-sizing:border-box; cursor:pointer; transition:color 0.5s;}
	#header .gnb-member > li.rightline:after{position:absolute; right:0; top:50%; transform:translateY(-50%); content:""; display:block; clear:both; width:1px; height:12px; background:#ddd;}
	#header .gnb-member > li.user-img { position:relative; width:100%; height:70px; text-align:left; padding:0 0 0 60px; margin-left:0; color:#AAA; font-size:16px; }
	#header .gnb-member > li.user-img span.ic-user{position:relative;position:absolute; left:25px; top:50%; transform:translateY(-50%); cursor:pointer; display:inline-block; width:36px; height:36px; border-radius:36px; overflow:hidden; background:#002D6E;}
	#header .gnb-member > li.user-img span.ic-user > img{position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:100%; }
	#header .gnb-member > li.user-img .my-list{display:none; position:absolute; left:20px; bottom:60px;  width:210px; padding:10px 20px 15px 20px; border-radius:5px; background:#fff;border:1px solid #eee;}
	#header .gnb-member > li.user-img .my-list li{float:left; text-align:left; width:100%; height:14px; padding:15px 0; font-size:14px; font-weight:400;cursor:pointer; line-height:14px;transition:color 0.5s;}
	#header .gnb-member > li.user-img .my-list li.logout{color:#0A70F7; border-top:1px solid #eee; padding:15px 0 20px; margin-top:15px;}
	#header .nav-dimmed {display:none; position:absolute; top:0; left:0; right:0; height:100vh; background:#000;; opacity:0.25; z-index:50}

	div.gnb_submenu{display:none; width:100%; background:#fff; margin-bottom:10px;}
	div.gnb_submenu > ul{width:100%; box-sizing:border-box; margin:0 auto;}
	div.gnb_submenu > ul > li{float:left; width:100%; font-size:14px; font-weight:400; color:#aaa; height:30px; line-height:30px; padding:0; cursor:pointer; transition:color 0.5s;}
	div.gnb_submenu > ul > li > a{display:block; text-align:left; color:#aaa;}
	div.gnb_submenu > ul > li.active a{color:#000;}

	#header .gnb-member > li.user-img div.my-point{position:relative;display:inline-block;font-size:18px; color:#0A70F7; text-align:left;padding-left:15px; }





	/*footer*/
	#footer {width:100%; padding:0; height:unset; text-align:center; background-color:#F8F9FA;}
	#footer.f_bg-white { _background-color:#fff;}
	#footer .container-fluid{position:relative;  max-width:540px; padding:30px 10px;}
	#footer .info ul{width:100%; max-width:100%; height:unset; margin:0 auto;}
	#footer .info ul li{float:left; width:100%; height:40px; line-height:40px; font-weight:400; font-size:13px; color:#6C757D; }
	#footer .info ul li.copy{text-align:center;}
	#footer .info ul li.by{text-align:center;}

	/* contents */
	.wrapper{width:100%; margin:0 auto; padding:50px 0;}
	.wrapper.wrapper-70{width:100%; margin:0 auto; padding:70px 0 50px;}
}
