@charset "utf-8";
/*
 * Name     : reset.css
 * Version  : 1.0.4
 * Date     : 2021-01-01
 ---------------------------------------------------
 Table of contents
 ---------------------------------------------------
    01. reset settings
    02. font settings
---------------------------------------------------
*/

/* ------------------------------
 * reset settings
------------------------------ */
* {
	box-sizing: border-box
}

*:before, *:after {
	box-sizing: border-box
}

::selection {
	color: #fff;
	background-color: #fff;
}

html, body {
	margin: 0;
	padding: 0;

	line-height: 1.42857143;
	word-break: break-all;
	overflow-x: hidden;
	max-width: 100%;
	box-sizing:border-box;
}
 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	html, body {overflow-x:hidden;}
}
*{  font-family:'Poppins', sans-serif; }
html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-x: hidden;
	font-family:'Poppins', sans-serif; }

body {
    font-family:'Poppins', sans-serif;
	letter-spacing:0px;
	overflow-x: hidden;
}

ul, li, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	list-style:none !important;
}
ul:after{
	content:"";
	display:block;
	clear:both;
}
a {
	color: #333;
	text-decoration: none;
	cursor:pointer;
}

a:hover, a:active, a:focus {
	text-decoration: none !important;
	outline: none !important;
	color:inherit;
}

button, input, select, textarea {
    font: inherit;
    vertical-align: middle
}

input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: middle
}

form, fieldset {
	margin: 0;
	padding: 0;
	border: none
}

legend, caption {
	display: none !important
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

hr {margin:80px 0 !important; border-color:#e9e9e9}
hr.empty-line {margin:30px 0 !important; border:none}

.clearfix:before, .clearfix:after {
	content: "";
	display: block
}

.clearfix:after {
	clear: both
}

.clear {
	clear: both
}

.position-relative {
	position: relative
}

.float-left {
	float: left
}

.float-right {
	float: right
}

.overflow-hidden {
	overflow: hidden
}
